  <%= render "application/search_bar" %>
  <div class="club_menu">
    <ul>
      <li><a href="#" class="club_menu_click">전체</a></li>
      <li><a href="#">문화/예술/공연</a></li>
      <li><a href="#">봉사/사회활동</a></li>
      <li><a href="#">학술/교양</a></li>
      <li><a href="#">기타</a></li>
    </ul>
  </div>
  <div>
    <hr class="club_hr border-color2">
  </div>

<dl id="club-show-apply" class='accordion'>
    <h1>지원서 보기</h1>
    <div id=club-new-apply>
    <div class="s-horizon_wrap show_apply_wrap show_apply_head">
        <div class="s-horizon apply_col1">No.</div>
        <div class="s-horizon apply_col2">이름</div>
        <div class="s-horizon apply_col3">생년월일</div>
        <div class="s-horizon apply_col4">학과</div>
        <div class="s-horizon apply_col5">연락처</div>
        <div class="s-horizon apply_col6">지원자보기</div>
    </div>
    <% k = 0 %>
    <% @club.applies.each do |a| %>
    <% k = k + 1 %>
    <dt class="s-horizon_wrap show_apply_wrap show_apply_body">
        <div class="s-horizon apply_col1"><%= k %></div>
        <div class="s-horizon apply_col2"><%= a.club.note.user.name %></div>
        <div class="s-horizon apply_col3">생년월일</div>
        <div class="s-horizon apply_col4">학과</div>
        <div class="s-horizon apply_col5"><%= a.contact %></div>
        <div class="s-horizon apply_col6 show_apply_details"><span>보기</span></div>
    </dt>
    <dd>
        <!--지원서 작성하기-->
        
        <form action='/club/:id/apply' method='post'>
        <input name='authenticity_token' type='hidden' value=<%= form_authenticity_token %>></input>
        <input type='hidden' name='club_id' value=<%= @club.id %>>
      
        <div class="club_new_container">
            <h1 class="club_new_title">지원서 양식</h1>
            <div class="club_new_content">
              <p class="club_new_notice">* 별표 표시는 필수 항목입니다.</p>
              <p class="club_new_subtitle">전화번호 혹은 카카오톡ID</p>
              <input name='input_contact' class='input_ver1' size="89" type='text' 
              value=<%= a.contact %> required></input>
            
              <p class="club_new_subtitle">질문 항목</p>
                <% for i in 1..10 %>
                  <% question_name = 'question' + i.to_s %>
                  <% answer_name = 'answer' + i.to_s %>
                  <% if @club.send(question_name) != nil %>
                  <div>
                    <input name='input_question<%= i %>' value=<%= @club.send(question_name) %> readonly="readonly" class='input_ver2 question_title' size="89" type='text'>
                    <textarea name='input_answer<%= i %>' class="input_ver1-2" readonly="readonly"><%= a.send(answer_name) %></textarea>
                  </div>
                  <% end %>
                <% end %>
            </div>
        </div>
        </form>
    </div>
    <!--// 지원서 작성하기-->
    </dd>
    <% end %>
</dl>