<!-- 동아리 -->
  <div id=club-new-note class="club_new_wrap">
    <%= form_tag '/club', method:'post', multipart: true do %> 
      <input name='authenticity_token' type='hidden' value=<%= form_authenticity_token %>></input>
      <input name='input_mainCategory' type='hidden' value='club'></input>
      
      <!--동아리 정보-->
      <div class="club_new_container">
        <h1 class="club_new_title">동아리 정보</h1>
        <div class="club_new_content">
          <p class="club_new_notice">* 별표 표시는 필수 항목입니다.</p>
          <p class="club_new_subtitle">기본 정보*</p>
          <input class="input_ver1" size="38" name='club_title' type='text' placeholder='동아리 이름 *' required autocomplete="off"></input><br>
          <사진 첨부 기능><br>
          <input type="file" multipart=true name="image">
          <input class="input_ver1" size="89" name='club_subtitle' type='text' placeholder="동아리 한 줄 소개 *" required autocomplete="off"></input>
          
          <p class="club_new_subtitle">분야*</p>
          <div class="club_new_radiobox">
            <input type="radio" name="input_field" value="문화/예술/공연" checked> 문화/예술/공연
            <input type="radio" name="input_field" value="봉사/사회활동"> 봉사/사회활동
            <input type="radio" name="input_field" value="학술/교양"> 학술/교양
            <input type="radio" name="input_field" value="창업/취업"> 창업/취업<br>
            <input type="radio" name="input_field" value="어학"> 어학
            <input type="radio" name="input_field" value="체육"> 체육
            <input type="radio" name="input_field" value="친목"> 친목
            <input type="radio" name="input_field" value="기타"> 기타
          </div>
          <p class="club_new_subtitle">동아리 유형*</p>
          <div class="club_new_radiobox">
            <input type="radio" name="input_official" value="중앙 동아리" checked> <span class="club_new_radio_text">중앙 동아리<span>
            <input type="radio" name="input_official" value="비공식 동아리"> 비공식 동아리
            <input type="radio" name="input_official" value="소모임"> 소모임
          </div>
          <p class="club_new_subtitle">동아리방 유무</p>
          <div class="club_new_radiobox">
            <input type="radio" name="input_room" value=1 checked> 있다
            <input type="radio" name="input_room" value=2> 없다
          </div>
          <p class="club_new_subtitle">규모*</p>
          <div class="club_new_radiobox">
            <input type="radio" name="input_size" value=1 checked> 10명 미만
            <input type="radio" name="input_size" value=2> 10~30명
            <input type="radio" name="input_size" value=3> 30~50명
            <input type="radio" name="input_size" value=4> 50명 이상
          </div>
        </div>
      </div>  
      
      <!--모집 공고-->
      <div class="club_new_container">
        <h1 class="club_new_title">모집 공고</h1>
        <div class="club_new_content">
          <p class="club_new_notice">* 별표 표시는 필수 항목입니다.</p>
          <p class="club_new_subtitle">글 제목*</p>
          <input name='input_title' class='input_ver1' size="89" type='text' placeholder='제목 *' required autocomplete="off"></input>
          
          <p class="club_new_subtitle">모집 기간*<br>
          (상시 모집<input type='checkbox' name='always_apply' class="always_apply_checkbox">)</p>
            <div class="datetime_wrap">
              <input type="datetime-local" class="input_ver1"
                 name="recruit_start" value="<%= Time.zone.now.strftime('%Y-%m-%dT%H:%M') %>"
                 min="<%= Time.zone.now.strftime('%Y-%m-%dT%H:%M') %>">부터 &emsp;
              <input type="datetime-local" class="input_ver1"
                 name="recruit_end" value="<%= Time.zone.now.strftime('%Y-%m-%dT%H:%M') %>" 
                 min="<%= Time.zone.now.strftime('%Y-%m-%dT%H:%M') %>"> 까지
            </div>
          <p class="club_new_subtitle">상세 모집 일정</p>
            <textarea name='input_content1' class='input_ver1' cols=93 rows=6 placeholder="※동아리 별도의 면접 일정이 있다면 적어주세요." required autocomplete="off"></textarea>
          <p class="club_new_subtitle">지원자격*</p>
            <textarea name='input_content2' class='input_ver1' cols=93 rows=6 placeholder="※동아리 지원 자격을 구체적으로 적어주세요." required autocomplete="off"></textarea>
          
          <p class="club_new_subtitle">상세 내용*</p>
            <textarea name='input_content3' class='input_ver1' cols=93 rows=10 placeholder="※활동 내용, 모임 시간 및 장소, 모집 대상, 지원 방법, 연락처 등 상세 내용을 자유롭게 적어주세요." required ></textarea>
          <p class="club_new_subtitle"><활동사진 첨부 기능></p>
        </div>
      </div>
      
      <!--지원서 양식-->
      <div class="club_new_container">
        <h1 class="club_new_title">지원서 양식</h1>
        <div class="club_new_content">
          <p class="club_new_notice">* 별표 표시는 필수 항목입니다.</p>
          <p class="club_new_subtitle">전화번호 혹은 카카오톡ID</p>
          <input name='input_contact' class='input_ver1' size="89" type='text' 
          placeholder="지원자가 질문에 대한 답변을 적는 공간입니다." readonly="readonly"></input>
        
          <p class="club_new_subtitle">질문 항목</p>
            <% for i in 1..10 %>
              <div class="question_wrap">
                <input class='input_ver2 question_title' size="89" type='text' placeholder='질문을 입력하세요.' >
                <textarea class="input_ver1-1" placeholder="지원자가 질문에 대한 답변을 적는 공간입니다." readonly="readonly"></textarea>
              </div>
            <% end %>

            
            <i class="far fa-trash-alt fa-lg question_trash"></i>
            <div class="question_plus">
              <i class="fas fa-plus-circle fa-2x"></i>
            </div>
            
            
            

        </div>
      </div>
      <div class="apply_submit_wrap s-horizon_wrap">
        <input type='submit' value='확인' class="apply_submit apply_submit1 s-horizon"></input>
        <a href="/club" class="apply_submit apply_submit2 s-horizon">취소</a>
      </div>
    <% end %>
  </div>