  <!-- Container -->
  <div>검색창(Gem 이용)</div>
  <br><br>
  <div class="club_menu">
    <ul>
      <li><a href="#" class="club_menu_click">전체</a></li>
      <li><a href="#">문화/예술/공연</a></li>
      <li><a href="#">봉사/사회활동</a></li>
      <li><a href="#">학술/교양</a></li>
      <li><a href="#">기타</a></li>
    </ul>
  </div>
  <div>
    <hr class="club_hr border-color2">
  </div>


  <div class="club_content1 l-fixed">
    <!-- 포스터  -->
    <div class="club_poster border-color1">
      <img src="/assets/1.jpg" alt="a" class="img_poster">
    </div>

    <!-- 랭킹 -->
    <div class="club_poster_info border-color1">
      <h1>
        <%= @note.title %>
        <span class="club_dday_label bg-color2">D-20</span>
        <span class="club_label_wrap1">
          <span class="sharing_label">
            <a href="#">
              <i class="fas fa-share-alt"></i> 공유
            </a>
          </span>

          <span class="heart_label">
            <a href="#">
              <i class="far fa-heart"></i> 123
            </a>
          </span>

        </span>


      </h1>
      <hr>
      <div class="info_content_wrap">
        <div class="info_content1">
          <h2>지원 자격</h2>
          <p>
            학년: 1,2,3 학년<br>
            학과: 상관없음
          </p>
        </div>
        <div class="info_content2">
          <h2>모집 기간</h2>
          <p>
            서류: 18.07.11~18.07.15<br>
            면접: 18.07.17~18.07.19<br>
            발표: 18.07.22
          </p>
        </div>
      </div>
      <div class="poster_submit_position">
        <a href='/club/<%= @note.id %>/edit' class="poster_submit bg-color1"> 
          수정 
        </a>
        <a href='/club/<%= @note.id %>' data-method='delete' class="poster_submit bg-color1"> 
          삭제
        </a>
        <a href='/club/<%= @note.id %>/apply/new' class="poster_submit bg-color1">
            동아리 지원
        </a>
        <a href='/club/<%= @note.id %>/apply' class="poster_submit bg-color1">
            지원자 보기
        </a>
      </div>
      <br>
    </div>
  </div>

<!-- 동아리 상세정보 -->
  <div class="poster_details_wrap border-color1 l-fixed tabSet">
    <div class="poster_menu">
      <ul class="tabs">
        <li><a href="#panel1-1" class="on">상세정보</a></li>
        <li><a href="#panel1-2">활동사진</a></li>
        <li><a href="#panel1-3">Q&A</a></li>
      </ul>
    </div>
    <div class="poster_details panel" id="panel1-1">
      <h1>상세 정보</h1>
      <p><%#= @note.content %></p>
    </div>
    <div class="poster_details panel" id="panel1-2">
      <h1>활동 사진</h1>
      <p><%#= @note.content %></p>
    </div>
    <div class="poster_details panel" id="panel1-3">
      <h1>Q&A</h1>
      <p><%#= @note.content %></p>
    </div>
  </div>

<!-- 댓글 -->
<form action = '/comments' method='post'>
  <input type='hidden' name='authenticity_token' value=<%= form_authenticity_token %>></input>
  <input type='hidden' name='note_id' value=<%= @note.id %>></input>
  
  
  <div class="comment_wrap bg-color2 l-fixed">
    <!--<input type='submit' value ="댓글 쓰기" class="writing_comment_btn"></input>-->
    <span class="writing_comment_btn">댓글창</span>
    <div class="comment_content">
      <div class="inner_comment_wrap bg-color2">
        <input type='text' name='input_content' class="inner_comment_content" placeholder="댓글을 입력하세요.">
        <button type="submit" class="inner_comment_btn">
        <i class="fas fa-paper-plane"></i>
        </button>
      </div>
        <!--<div class="arrow_label">&#10551;</div>-->
    </div>

    
    <% @note.comments.reverse_each do |comment| %>
      <div class="comment_content">
        <h1><%= comment.content %></h1>
          <span class="comment_content_date">07/08 17:44</span> 
          <span><a href='/comments/<%= comment.id %>'
          data-confirm='댓글을 삭제합니다.' data-method='delete'> 삭제</a></span>
          <!--<div class="arrow_label">&#10551;</div>-->
      </div>
    <% end %>
  </div>
</form>
