<div id="login_insert_info">
  <h1>정보입력</h1>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "학교 이메일", class: :input_ver4_2 %>
    </div>
  
    <div class="field">
      <!--<%# if @minimum_password_length %>-->
      <!--<em>(<%#= @minimum_password_length %> characters minimum)</em>-->
      <!--<%# end %><br />-->
      <%= f.password_field :password, autocomplete: "off", placeholder: "비밀번호(6자리 이상)", class: :input_ver4_2 %>
    </div>
  
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "비밀번호 확인", class: :input_ver4_2 %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :school, placeholder: "학교", class: :input_ver4_2 %>
    </div>
    
    <div class="field">
      <%= f.text_field :major, placeholder: "학과", class: :input_ver4_2 %>
    </div>
    <div class="field">
      <%= f.text_field :student_number, placeholder: "학번", class: :input_ver4_2 %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :name, placeholder: "이름", class: :input_ver4_2 %>
    </div>
    
    <div class="field">
      <%= f.text_field :birthday, placeholder: "생년월일", class: :input_ver4_2 %>
    </div>
  
    <div class="actions">
      <%= f.submit "확인", class: :login_insert_info_submit %>
    </div>
  <% end %>
  
  <%#= render "devise/shared/links" %>

</div>