<div id="club-sidebar-left" class="s-horizon">
  <div class="favorite-main-text">
    <span class="favorite-main">즐겨찾기</span>
  </div>

  
  
  <% @notes.each do |n| %>
  
    <% doing = (n.club.recruit_end - Time.zone.now)/(60*60*24) >= 0 %>
    <% finished = (n.club.recruit_end - Time.zone.now)/(60*60*24) < 0 %>
    <% dday = ((n.club.recruit_end - Time.zone.now)/(60*60*24)).to_i == 0 %>
    <% always = n.club.always_apply == 'on' %>
    <% not_always = n.club.always_apply != 'on' %>
    
    <% if n.f_users.include?(current_user) %>
    <div class="favorite-content border-color2">
      <img src="/assets/1.jpg" alt="a" class="favorite-img s-horizon">
      <div class="favorite-text">
        <p>
          <%= n.club.field %>
          <% if always %>
            <span class="color1 favorite-dday">상시 모집</span>
          <% elsif finished %>
            <span class='club_dday_color1 favorite-dday'>마감</span>
          <% elsif dday %>
            <span class="club_dday_color2 favorite-dday">D-day</span>
          <% else %>
            <span class="color1 favorite-dday">D-<%= ((n.club.recruit_end - Time.zone.now)/(60*60*24)).to_i %></span>
          <% end %>
        </p>
        <h1>
          <%= n.club.title %>
          <% link = '/club/' + n.id.to_s + '/favorites2' %>
          <%= link_to(
                    '<i class="fas fa-star favorite2 favorite-star"></i>'.html_safe,
                    link, method: :post) %>
        </h1>
        <p class="black2">
          <% if n.club.subtitle.length > 17 %>
            <%= n.club.subtitle[0, 17] %> ...
          <% else %> 
            <%= n.club.subtitle %>
          <% end %>
        </p>
      </div>
    </div>
    <% end %>
  <% end %>



  
</div>