<% content_for :bxslider_js do %>
  <!-- 박스 슬라이더 -->
  <link rel="stylesheet" href="/assets/jquery.bxslider.css">
  <script src="/assets/jquery.bxslider.min.js"></script>
  <% end %>


    <div>검색창(Gem 이용)</div>
    <br><br>
    <div class="club_menu">
      <ul>
        <li><a href="#" class="club_menu_click">전체</a></li>
        <li><a href="#">문화/예술/공연</a></li>
        <li><a href="#">봉사/사회활동</a></li>
        <li><a href="#">학술/교양</a></li>
        <li><a href="#">기타</a></li>
      </ul>
    </div>
    <div>
      <hr class="club_hr border-color2">
    </div>


  <!--club-container-->
  <div id="club-container" class="s-horizon_wrap">
    <%= render 'application/sidebar_left' %>

    <!-- 게시판 -->
    <div id="club-content" class="s-horizon">
          <table class="club_board border-color2">
            <!--<thead>-->
            <!--  <tr class="club-table-line">-->
            <!--    <th class="col-1 black2">-->
                  <div class="club-main-title">
                    모집중인 동아리
                  </div>
                  <div class="btn2_wrap">
                    <button class="btn2 border-color2">조회수 <i class="fas fa-caret-down"></i></button>
                    <button class="btn2 border-color2">신입생 <i class="fas fa-caret-down"></i></button>
                  </div>
            <!--    </th>-->
            <!--  </tr>-->
            <!--</thead>-->


            <% @club.each do |club| %>
              <tbody>
                <tr class="club-table-line">
                  <td>
                    <img src="/assets/1.jpg" alt="a" class="img-board s-horizon">
                    <a href='/club/<%= club.id %>'>
                      <div class="s-horizon">
                        <h1 class="club-title-text black2">
                          <%= club.title %>
                          <span class="club_category bg-color1">공식 동아리</span>
                          <span class="club_category club_category_2">동방</span>
                          <span class="club_category club_category_3">마감</span>
                          </h1>
                        <p class="club-subtitle-text black3">멋쟁이 사자처럼은 비전공자도 코딩을 할 수 있는 동아리입니다.</p>
                      </div>
                    </a>
                    <div class="club-etc-text">
                        <p class="color1">D-1</p>
                        <p><i class="far fa-eye black3"></i> 273</p>
                        <p><i class="fas fa-thumbs-up"></i> 15 <i class="fas fa-thumbs-down"></i> 2</p>
                    </div>
                  </td>

                </tr>
              </tbody>
              <% end %>
          </table>
          
          

        <%= paginate @club %>
    </div>
    
    
    
    <%= render 'application/sidebar_right' %>

  </div>