<% content_for :bxslider_js do %>
  <!-- 박스 슬라이더 -->
  <link rel="stylesheet" href="/assets/jquery.bxslider.css">
  <script src="/assets/jquery.bxslider.min.js"></script>
<% end %>
  


  <!--club-container-->
  <div id="club-container" class="s-horizon_wrap">
    <%= render 'application/sidebar_left' %>

    <!-- 게시판 -->
    <div id="club-content" class="s-horizon">
          <table class="club_board border-color2">
            <!--<thead>-->
            <!--  <tr class="club-table-line">-->
            <!--    <th class="col-1 black2">-->
                  <div class="club-main-title">
                    모집중인 동아리
                  </div>
                  <div class="btn2_wrap">
                    <button class="btn2 border-color2">조회수 <i class="fas fa-caret-down"></i></button>
                    <button class="btn2 border-color2">신입생 <i class="fas fa-caret-down"></i></button>
                  </div>
            <!--    </th>-->
            <!--  </tr>-->
            <!--</thead>-->
              

            
            <% doing_notes = [] %>
            <% finished_notes = [] %>
            
            <% @notes.each do |t| %>
              <% if (t.club.recruit_end - Time.zone.now)/(60*60*24) >= 0 || t.club.always_apply == 'on' %>
                <% doing_notes.push(t) %>
              <% else %>
                <% finished_notes.push(t) %>
              <% end %>
            <% end %>
            <% if finished_notes.length == 1 %>
              <% ordered_notes = doing_notes.push(finished_notes) %>
            <% elsif finished_notes.length > 1 %>
              <% ordered_notes = doing_notes.concat(finished_notes) %>
            <% end %>
            <% ordered_notes.each do |n| %>  

              <% doing = (n.club.recruit_end - Time.zone.now)/(60*60*24) >= 0 %>
              <% finished = (n.club.recruit_end - Time.zone.now)/(60*60*24) < 0 %>
              <% dday = ((n.club.recruit_end - Time.zone.now)/(60*60*24)).to_i == 0 %>
              <% always = n.club.always_apply == 'on' %>
              <% not_always = n.club.always_apply != 'on' %>
              <tbody>
                <tr class="club-table-line">
                  <% if finished && not_always %>
                    <td class="bg-color2">
                  <% else %>
                    <td>
                  <% end %>
                    <a href='/club/<%= n.id %>'>
                    <img src="/assets/1.jpg" alt="a" class="img-board s-horizon">
                      <div class="s-horizon club-text-content">
                        <h1 class="club-title-text black2">
                          <%= n.club.title %>
                          <% if n.club.official == "중앙 동아리" %>
                            <span class="club_category club_category_1">중앙 동아리</span>
                          <% end %>
                          <% if n.club.room == 1 %>
                            <span class="club_category club_category_2">동방</span>
                          <% end %>
                          </h1>
                        <p class="club-subtitle-text black3"><%= n.club.subtitle %></p>
                      </div>
                      </a>
                    <div class="club-etc-text">
                          <% if always %>
                            <p class="color1">상시 모집</p>
                          <% elsif finished %>
                            <p class='club_dday_color1'>마감</p>
                          <% elsif dday %>
                            <p class="club_dday_color2">D-day</p>
                          <% else %>
                            <p class="color1">D-<%= ((n.club.recruit_end - Time.zone.now)/(60*60*24)).to_i %></p>
                          <% end %>
                        <p><i class="far fa-eye black3"></i> <%= n.unique_impression_count %> </p>
                        <p><i class="fas fa-thumbs-up"></i> 0 <i class="fas fa-thumbs-down"></i> 0 </p>
                    </div>
                  </td>
                </tr>
              </tbody>
              <% end %>
          </table>
          

        <%= paginate @notes %>
    </div>
    
    <%= render 'application/sidebar_right' %>

  </div>