<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  
  <!--bxslider-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!--밑의 코드가 위 코드랑 불러오는 방식만 다르지 똑같음. 단, 버전이 다름.-->
  <!--<script src="/assets/jquery-3.3.1.min.js"></script>-->
  <%= yield :bxslider_js %>
  
  <!--레일즈 기본 내장 코드-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/theme.css">
  <title>Teammate</title>
</head>
<body>



  <!-- Header -->
  <header id="header" class="bg-color1">
    <!-- LNB & 로고 & GNB -->
    <div class="l-full">
      <% if @header == nil %>
        <%= render "application/header1" %>
      <% else %>
        <%= render "application/header2" %>
      <% end %>
    </div>
  </header>
  
  
<%= yield %>

<br><br>
<!--푸터(Footer)-->
<%= render "application/footer" %>

</body>
</html>
